body{
  background-color: #EFEFEF;
}


#content{
  display:grid;
  overflow:scroll;
  /* pointer-events: none; */
  padding-bottom:30vw;
}


.block{
  width:100%;
  display:flex;
  flex-flow:row nowrap;
  padding:0px 50px;
  margin-top:600px;
  position:relative;
  box-sizing: border-box;
}
.b-c{
  justify-content: center;
}
.b-l{
  justify-content: flex-start;
}
.b-r{
  justify-content: flex-end;
}

.step>p{
  width:550px;
}



#in-c{
  color:rgba(251,51,41,1);
}

.full{
  width:100vw;
  height:100vh;
  position:relative;
}

.dist{
  height:100px;
  grid-column: 1 / 10;
}

.full h1{
  position:absolute;
  left:50px;
  bottom:30px;
  /* color:#3F3F3F; */
  color:black;
}


#noise{
  position:fixed;
  top:0;
  left:0;
  pointer-events: none;
  background-image: url("../noise.jpg");
  background-repeat: repeat;
  mix-blend-mode: overlay;
}

/* path{
  stroke-width:2px;
  stroke:#1E5AFF;
} */


#bkg{
  background-color: rgb(239, 239, 239);
  transition:background-color 0.6s;
}

#bkg.mal{
   background-color: rgb(255, 185, 183);
}

@keyframes ouch{
  from {
    background-color: rgb(239, 239, 239);
  }

  to {
    background-color: rgba(251,51,41,0.7);
  }
}


#circles{
  /* padding-bottom: 20vh; */
  box-sizing: border-box;
  transition: filter 0.6s, -webkit-filter 0.6s, opacity 0.6s;
  filter:blur(0px);
  -webkit-filter:blur(0px);
  opacity:1;
}
#circles.blurred{
  filter:blur(10px);
  -webkit-filter:blur(10px);
  opacity:0.5;
}

.slice{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
}




#tree-wave{
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  transition:transform 0.6s;
  /* opacity:0; */
}
#tree-wave.shift{
  transform:translateX(-60%);
}
#tree{
  flex:1;
  height:80%;
  margin-top: calc(50vh + 101px);
  transform: translateY(-40%);
}
#wave{
  max-height: 460px;
  margin-right: 80px;
}

#animations path{
   stroke-dasharray: var(--length);
}

#tree path{
  transition: stroke-dashoffset 1.2s;
}
#wave path{
  transition: stroke-dashoffset 1.6s;
}
#cup path,#cup line{
  transition: stroke-dashoffset 1.6s;
}
#shake path,#shake line{
  transition: stroke-dashoffset 1.6s;
}
#middle path{
  transition-delay: 0.4s;
}
#front path{
  transition-delay:0.7s;
}

#barista,#community{
  transition:opacity 0.3s;
}

#community line{
  transition:opacity 0.3s;
}
#community line.poof{
  opacity:0;
}
#community{
  /* transition-delay:1s; */
}
svg[data-draw="false"] path,svg[data-draw="false"] line{
  stroke-dashoffset: var(--length);
}

svg[data-draw="true"] path,svg[data-draw="true"] line{
  stroke-dashoffset: 0;
}


#cup,#shake{
  position:absolute;
  right:0;
  top: 50%;
  transform: translateY(-50%);
  width:50%;
}



#ask{
  opacity:1;
  padding:20px;
  box-sizing: border-box;
  transition:opacity 0.3s;
}
#ask>div{
  display:flex;
  flex-flow:row nowrap;
}



h2{
  font-family:"Violet Sans", sans-serif;
  font-size:35px;
  line-height: 38px;
}


.name-bar{
  display:flex;
  flex-flow:row nowrap;
  height: 130px;
  width:220px;
  background-color: #F7F7F7;
  border-radius:20px;
  align-items: center;
  box-sizing: border-box;
  padding:0px 20px;
  border:1px solid black;
  transition:transform 0.3s;
}

#ask.talk .name-bar{
  transform:translateX(0%);
}


.attempt .name-bar,.att2 .name-bar{
  transform:translateX(-200%);
}
.response .name-bar{
  transform:translateX(200%);
}

.attempt .name-bar{
  background-color: rgba(251,51,41,0.29);
}
.response .name-bar{
  transition-delay: 0.6s;
  background-color: rgba(0,253,86,0.5);
}

.att2 .name-bar{
  transition-delay: 0.9s;
  background-color: rgba(0,253,86,0.2);
}

.response{
  justify-content: flex-end;
}



.attempt .orb{
  --incr:15px;
  --nincr:-15px;
}
.response .orb{
  --incr:0px;
  --nincr:0px;
}

.att2 .orb{
  --incr:7px;
  --nincr:-7px;
}
.orb{
  border-radius:50%;
  /* background-color: grey; */
  border:1px solid black;
  margin-right: 2px;
  position:relative;
}

.orb:nth-child(1){
  width:20px;
  height:50px;
  top:var(--incr);
}
.orb:nth-child(2){
  width:40px;
  height:90px;
  top:var(--nincr);
}
.orb:nth-child(3){
  width:30px;
  height:70px;
  top:var(--incr);
}
.orb:nth-child(4){
  width:20px;
  height:80px;
  top:var(--nincr);
}
.orb:nth-child(5){
  width:30px;
  height:50px;
  top:var(--incr);
  margin-right:3px;
}











.fixed{
  position:fixed;
  top:0;
  left:0;
  box-sizing: border-box;
}

.circle{
  --xoffset:0;
  --yoffset:0;
  --rotate:0deg;
  --scale:1;
  border-radius: 50%;
  width:100px;
  height:200px;
  border:1px solid black;
  background-color: rgba(0,253,86,0.78);
  position:absolute;
  top:50%;
  transform:translateY(-50%) translate(var(--xoffset),var(--yoffset)) rotate(var(--rotate)) scale(var(--scale),var(--scale));
  transition:transform 0.3s, background-color 0.3s;
}

#a{
  transition-delay:0.4s;
  width:14%;
  height:35%;
  left:19%;
  z-index:3;
}
#b{
  transition-delay:0.3s;
  width:19%;
  height:65%;
  left:29%;
  z-index:2;
}
#c{
  transition-delay:0.2s;
  width:14%;
  height:44%;
  left:44%;
  z-index:4;
}
#d{
  transition-delay:0.1s;
  width:7%;
  height:55%;
  left:55%;
  z-index:7;
}
#e{
  transition-delay:0s;
  width:14%;
  height:35%;
  left:60%;
  z-index:5;
}

#circles[data-correct="false"] .circle{
  background-color:rgba(251,51,41,0.29);
}

#circles[data-poof="false"] .circle{
  --scale:0;
}

#circles[data-correct="false"] #a{
  --yoffset:5vh;
}
#circles[data-correct="false"] #b{
  --yoffset:-10vh;
}
#circles[data-correct="false"] #c{
  --yoffset:15vh;
}
#circles[data-correct="false"] #d{
  --yoffset:-10vh;
}
#circles[data-correct="false"] #e{
  --yoffset:5vh;
}

#lips{
  transition:opacity 0.6s;
  position:absolute;
  right:2%;
  top:50%;
  width:20%;
  transform:translateY(-50%);
}
#lips path{
  stroke:1px;
}

@media(hover:hover){
  .circle:hover{
    /* transform:translateY(-50%) translate(100px,100px) rotate(20deg); */
  }
}



h1{
  font-family:"Violet Sans", sans-serif;
  font-size: min(60px,7vw);
}

p{
  font-family:"Times New Roman", serif;
  font-size:30px;
  line-height: 38px;
}


@font-face {
   font-family: 'Violet Sans';
   src: url('../fonts/VioletSans-Regular.woff') format('woff'),
        url('../fonts/VioletSans-Regular.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
}
